.arrow {
  display: none;
}

.arrow--back {
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  transform: scale(0.75);
}

//--------------DEKTOP----------------

@media @desktop {
  .arrow {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    svg {
      width: 50px;
      height: 50px;
    }
    
    .arrow-hover {
      fill: none;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke: @blue;
      transition: ease-out 0.3s;
    }
    
    &:hover,
    &:active {
      .arrow-hover {
        stroke: @dark-blue;
        transition: ease-out 0.3s;
      }
    }
    
    .arrow-hover--light {
      stroke: @light;
    }
    
    &:hover,
    &:active {
      .arrow-hover--light {
        stroke: @grey;
      }
    }
    
    &--up,
    &--down {
      left: 50%;
      transform: translateX(-25px);
    }
  
    &--up {
      top: 30px;
    }

    &--down {
      bottom: 10px;
    }
    
    &--back {
      position: fixed;
      right: 0;
      bottom: 0;
      display: none;
      opacity: 1;
      transform: scale(1);
      
      .arrow-hover {
        stroke: @light;
        fill: #469dff;
      }
    }
  }
}
