.contacts {
  width: 100%;
  background-color: @blue;
  background-image: linear-gradient(45deg, #3695ff, #3695ff 20%, #469dff 20%, #469dff 40%, #4098ff 40%, #4098ff 60%, #3c89fe 60%, #3c89fe 80%, #367bfd 80%, #367bfd);
}

.contacts__mail {
  .list__stroke {
    stroke: @light;
  }
}

.contacts__skype {
  svg {
    width: 64px;
    height: 64px;
  }
}

.contacts__git {
  svg {
    width: 64px;
    height: 64px;
  }
}