.header-main {
  width: 100%;
  background-color: @dark-blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-main__link {
  display: block;
  color: @light;
  font-size: 21px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

//-------------TABLET---------------

@media @tablet {
  .header-main {
//    width: 620px;
  }
  
  .header-main__link {
    font-size: 30px;
    line-height: 40px;    
  }
}

//-------------DESKTOP--------------

@media @desktop {
  .header-main {
//    width: 100%;
  }  
}