.header-main {
  width: 320px;
  background-color: @dark-blue;
  position: fixed;
  z-index: 10;
}

.header-main__link {
  display: block;
  color: @light;
  font-size: 21px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

//-------------TABLET---------------

@media @tablet {
  .header-main__link {
    font-size: 30px;
    line-height: 40px;    
  }
}