.inside {
  background-color: @light;
  padding: 20px;
}

//----------------TABLET----------------

@media @tablet {
  .inside {
    padding-top: 30px;
    
    .text {
      padding-left: 30px;
      padding-right: 30px;
      box-sizing: border-box;
    }
  }
}