.works {
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.works__preview {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.works__item {
  padding: 0;
  cursor: pointer;
  position: relative;
  
  img {
    border-radius: 5px;
  }
}

.works__img {
  position: absolute;
  display: none;
  width: 240px;
  height: 145px;
  border-radius: 5px;
  
  .list__stroke {
    stroke: @blue;
  }
}

.works__item:hover .works__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54,119,253,0.3);
  border-radius: 5px;
}

.works__modal {
  display: none;
  position: absolute;
  width: 280px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
  z-index: 5;
  cursor: default;
}

.works__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: @light;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  
  .list__stroke {
    stroke: @blue;
  }
  
  svg {
    width: 50px;
    height: 40px;
  }
}

.works__header:hover {
  opacity: 0.6;
}

.works__close {
  font-size: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url(../img/icon-cross.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.works__title {
  margin: 0;
  color: @blue;
}

.works__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: @blue;
  font-weight: bold;
  margin-bottom: 10px;
  
  &:hover {
    text-decoration: underline;
    opacity: 0.6;
  }
  
  &:active,
  &:visited {
    color: @dark-blue;
  }
}

.works__show-auto,
.works__show-promo,
.works__show-pink,
.works__show-sedona,
.works__show-take,
.works__show-berezki,
.works__show-jsb,
.works__show-creative {
  display: block;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.works__name {
  color: @blue;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.2;
  padding-right: 5px;
  padding-left: 5px;
}

//--------------TABLET---------------

@media @tablet {
  .works {
    padding-top: 30px;;
  }
  
  .works__item {
    max-width: 280px;
  }
  
  .works__modal {
    width: 570px;
  }
  
  .works__show-auto,
  .works__show-promo,
  .works__show-pink,
  .works__show-sedona,
  .works__show-take,
  .works__show-berezki,
  .works__show-jsb,
  .works__show-creative {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .works__img {
    width: 250px;
    height: 152px;
  }
}

//----------------DESKTOP----------------

@media @desktop {
  .works {
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
    position: relative;
  }
  
  .works__decsr .title-h2 {
    padding-top: 20px;
  }
  
  .works__preview {
    margin-top: 40px;
  }
  
  .works__img {
    width: 350px;
    height: 217px;
  }
}
