.wrap-main {
  width: 320px;
  margin: 0 auto;
}

//-------------------TABLET-------------------

@media @tablet {
  .wrap-main {
    width: 620px;
  }
}

//------------------DESKTOP-------------------

@media @desktop {
  .wrap-main {
    width: 100%;
//    width: 1200px;
  }
}
